<div mat-dialog-title>
  <span>{{title}}</span>

  <span>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>clear</mat-icon>
    </button>
  </span>
</div>

<mat-dialog-content>
  {{message}}
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Όχι</button>

  <button mat-flat-button color="primary" (click)="confirmAction()">Ναι</button>
</mat-dialog-actions>
