<h1 mat-dialog-title>Επιτυχής Ενέργεια</h1>

<mat-dialog-content>
  Η ενέργεια ολοκληρώθηκε με επιτυχία.
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="closeDialog()">
    Συνέχεια
  </button>
</mat-dialog-actions>
