.container {
  align-items: center;
  background-color: #282828 !important;
  display: flex;
  flex-direction: column;
  height: 100vh;

  img {
    padding-top: 100px;
  }

  p {
    color: white;
    font-size: 30px;
  }
}
