<div class="container">
  <img src="../../../assets/images/Logo.png">

  <p>Δεν υπάρχει η σελίδα που αναζητήσατε.</p>

  <button mat-button (click)="returnToHomePage()">
    Επιστροφή
  </button>
</div>
