<div mat-dialog-title>
  <span>{{setTitle()}}</span>

  <span>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>clear</mat-icon>
    </button>
  </span>
</div>

<mat-dialog-content>
  <form [formGroup]="employeeFormGroup">
    <mat-form-field>
      <input formControlName="firstName" matInput placeholder="Όνομα (*)" type="text"/>
      <mat-error *ngIf="formService.isFormFieldValid('firstName', employeeFormGroup)">
        {{formService.setErrorMessage('firstName', employeeFormGroup)}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="lastName" matInput placeholder="Επώνυμο (*)" type="text"/>
      <mat-error *ngIf="formService.isFormFieldValid('lastName', employeeFormGroup)">
        {{formService.setErrorMessage('lastName', employeeFormGroup)}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="email" matInput placeholder="Email (*)" type="email"/>
      <mat-error *ngIf="formService.isFormFieldValid('email', employeeFormGroup)">
        {{formService.setErrorMessage('email', employeeFormGroup, 'uniqueEmail')}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="address" matInput placeholder="Διεύθυνση (*)" type="text"/>
      <mat-error *ngIf="formService.isFormFieldValid('address', employeeFormGroup)">
        {{formService.setErrorMessage('address', employeeFormGroup)}}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="middle-form-field">
      <input #mobile
             formControlName="mobile"
             mask="0000000000"
             matInput
             maxlength="10"
             placeholder="Κινητό (*)"
             type="text"/>
      <mat-hint align="end">{{mobile.value?.length || 0}}/10</mat-hint>
      <mat-error *ngIf="formService.isFormFieldValid('mobile', employeeFormGroup)">
        {{formService.setErrorMessage('mobile', employeeFormGroup, 'telephone')}}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button color="primary" mat-flat-button (click)="submitEmployee()" [disabled]="isFormInvalid()">
    {{setButtonText()}}
  </button>
</mat-dialog-actions>
