<h1 mat-dialog-title>{{title}}</h1>

<mat-dialog-content>
  {{message}}
</mat-dialog-content>

<mat-dialog-actions>
  <button color="primary" mat-flat-button (click)="closeDialog()">ΟΚ</button>
</mat-dialog-actions>
