@font-face {
  font-family: 'BPreplay';
  src: url('./assets/fonts/BPreplay/BPreplay.eot');
  src: url('./assets/fonts/BPreplay/BPreplay.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/BPreplay/BPreplay.woff') format('woff'),
  url('./assets/fonts/BPreplay/BPreplay.ttf') format('truetype'),
  url('./assets/fonts/BPreplay/BPreplay.svg#Flaticon') format('svg');
}

:root {
  --swatch1: #b7ab7b;
  --swatch2: #282828;
  --swatch3: #ffffff;
}

body {
  color: var(--swatch2);
  cursor: default;
  font-family: 'BPreplay', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
}

.embedded-table {
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  place-content: space-between;

  mat-form-field {
    align-self: flex-end;
    margin-top: 5px;
    width: 32%;
  }
}

html {
  background-color: var(--swatch3);
  height: 100%;
}

input {
  color: var(--swatch2);
  font-family: 'BPreplay', sans-serif;
  font-size: 14px;
}

input:focus {
  border-color: var(--swatch1);
  outline: none;
}

.middle-form-field {
  margin-right: 34%;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
