@import '~@angular/material/theming';

@include mat-core();

$primary: (
  50: #f6f5ef,
  100: #e9e6d7,
  200: #dbd5bd,
  300: #cdc4a3,
  400: #c2b88f,
  500: #b7ab7b,
  600: #b0a473,
  700: #a79a68,
  800: #9f915e,
  900: #90804b,
  A100: #fffbee,
  A200: #ffefbb,
  A400: #ffe388,
  A700: #ffdd6e,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: black,
    A200: black,
    A400: white,
    A700: white
  )
);

$app-primary: mat-palette($primary, 600);
$app-accent: mat-palette($primary, 600);

$app-theme: mat-light-theme($app-primary, $app-accent, mat-palette($mat-red, 600));

@include angular-material-theme($app-theme);

$app-typography: mat-typography-config(
  $font-family: '"BPreplay", "Helvetica Neue", sans-serif'
);

@include angular-material-typography($app-typography);

$background: map-get($app-theme, background);

.mat-body p, .mat-body-1 p, .mat-typography p {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-weight: 900;
}

.mat-cell, .mat-footer-cell, .mat-header-cell {
  text-align: center !important;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.mat-dialog-actions button:first-child {
  margin-right: 5px;
}

.mat-dialog-actions button:last-child {
  margin-left: 5px;
}

.mat-dialog-actions button:not(:first-child):not(:last-child) {
  margin: 0 5px;
}

.mat-dialog-title {
  align-items: center;
  display: flex !important;
  flex-direction: row;
  place-content: center space-between;
}

.mat-icon {
  vertical-align: middle;
}

.mat-icon-button:hover {
  background: mat-color($background, 'hover');
}

.mat-row:hover {
  background-color: var(--swatch1);
  cursor: pointer;

  .mat-cell,
  .mat-icon-button,
  .mat-select-arrow,
  .mat-select-value {
    color: var(--swatch3) !important;
  }

  .mat-checkbox-background {
    background-color: var(--swatch2);
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: var(--swatch3);
  }
}
