<div class="container">
  <img src="../../assets/images/Logo.png">

  <div class="title-container">
    <p class="title">Εργαζόμενοι</p>
    <button color="primary" mat-flat-button (click)="openEmployeeDialog()">
      Προσθήκη Εργαζομένου
    </button>
  </div>

  <table mat-table [dataSource]="dataSource" matSort class="embedded-table">
    <ng-container matColumnDef="{{column.name}}" *ngFor="let column of columns">
      <th mat-header-cell *matHeaderCellDef>
        {{column.title}}
      </th>
      <td mat-cell *matCellDef="let element">{{setValue(element, column)}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ενέργειες</th>
      <td mat-cell *matCellDef="let row;">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openEmployeeDialog(row)">
            <mat-icon>edit</mat-icon>
            <span>Επεξεργασία</span>
          </button>

          <button mat-menu-item (click)="deleteEmployee(row)">
            <mat-icon>remove_circle_outline</mat-icon>
            <span>Διαγραφή</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [colSpan]="displayedColumns.length">
        Δεν υπάρχουν δεδομένα που να ταιριάζουν στην αναζήτηση
      </td>
    </tr>
  </table>
</div>
