.container {
  background-color: var(--swatch2);
  height: calc(100vh - 40px);
  padding: 20px 50px;

  .add-button {
    background-color: var(--swatch1);
    color: white;
  }

  img {
    height: 100px;
  }

  .title {
    color: var(--swatch1);
    font-size: 20px;
  }

  .title-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    place-content: space-between;
  }
}
